/* ---------------------------------
 *            About Page
 * --------------------------------- */

 
.about-container 
    width: 90%;
    max-width: 1225px;
    margin-top: -60px;


.about-card 
    margin-top: 150px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07) !important;


.circle 
    border-radius: 50%


.card-content
    padding: 20px 40px;


.row .col 
    padding: 0 1.25rem;


.hide-on-med-and-down
    display:none !important


.post-statis 
    text-align: center;

    .statis 
        display: inline-block;
        padding: 0.3rem 0.8rem;
        text-align: center;
        letter-spacing: .03rem;
        
        .count 
            display: block;
            font-size: 1.3rem;
            font-weight: bold;
            text-decoration: underline;

            a 
                color: #42b983;


.post-statis .statis .name 
    font-size: 0.9rem;
    color: #777;

.profile 
    .avatar-img 
        max-width: 160px;
        width: 100%;
        margin: 0 auto;
        transform: translate3d(0, -65%, 0);
        box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07) !important;

    .author 
        margin-top: -80px;

        .career 
            margin: 8px 0;
            font-size: 0.9rem;
            font-weight: 400;
            color: #777;

        .post-statis 
            margin: 0.5rem 0 1.4rem 0;

        .title 
            margin-bottom: 0.1rem;
            font-size: 1.8rem;
            font-weight: 500;
            color: #3C4858;

#aboutme 
    .introduction
        margin: 1.5rem auto 3rem;
        max-width: 600px;
        color: #999;

    .profile 
        .social-link 
            margin: 1.5rem 0 0.8rem 0;


.center-align 
    text-align:center;

/* Content */
.my-skills,.my-projects
    .title
        font-size: 2rem;
        margin-bottom: 2.25rem;

/* Skill */
.my-skills 
    padding: 3.8rem 1.5rem 0.8rem 1.5rem;
    .title
        .tag-chips
            margin-top: 2rem;

.chip
    margin: 10px 10px;
    padding: 19px 14px;
    display: inline-flex;
    line-height: 0;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .12);
    z-index: 0;
    text-align: center;
    color: #34495e;
    background-color: #fff;
    border: 1px solid #eee;
    margin-top: 1px;
    
    &:hover 
        color: #fff;
        background: linear-gradient(to right, #3A85FF 0%, #3273DC 100%);
        border: 1px solid #3A85FF;
        box-shadow: 0 5px 5px rgba(0, 0, 0, .25);
            
.waves-effect
    position:relative;
    cursor:pointer;
    display:inline-block;
    overflow:hidden;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color:transparent;
    vertical-align:middle;
    z-index:1;
    -webkit-transition:.3s ease-out;
    transition:.3s ease-out;

.waves-light
    background-color:rgba(255,255,255,0.45)

/* Projects */

.my-projects 
    .info
        max-width: 360px;
        margin: 0 auto;
        padding: 1rem 0 1rem;
        
        .icon 
            display: inline-block;
            width: 76px;
            height: 76px;
            text-align: center;
            line-height: 76px;
            color: #fff;
            font-size: 1.75rem;
            border-radius: 50%;

        .info-title 
            margin: 1.25rem 0 0.875rem;
            font-size: 1.25rem;
            font-weight: 500;
            line-height: 1.5em;
            
            a
                color: #34495e;

        .info-desc 
            margin: 0 0 10px;
            font-size: 0.9rem;
            color: #999;


